*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* html, body {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

.page {
  height: 100vh;
  width: 100%;
  background-color: #82f7f1;
  border-bottom: 2px solid #ccc;
  position: relative;
}

h1 {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
}

.page:nth-child(2) {
  background-color: #f782e7;
}

.page:nth-child(3) {
  background-color: #f7f182;
}
.page:nth-child(4) {
  background-color: #82f7a6;
}