

body {
  margin: 0;
  display: flex;
  place-items: start;
  justify-content: center;
  min-width: 320px;
  min-height: 100%;
  padding: 2rem 5rem;
 }
 
 
 .todoLIst{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
 }
 
 
 h1 {
  font-size: 6em;
  line-height: 1.1;
  text-align: center;
  padding-top: 3rem;
 }
 
 
 .inputBtn{
  display: flex;
  gap: 2rem;
 }
 
 
 .inputBtn button{
  font-size: 2rem;
  border: none;
  border-radius: 1rem;
  box-shadow: gray 6px;
 
 
 }
 
 
 .inputBtn input{
  padding: 0.4rem 5rem 0.4rem 1rem;
  border-radius: 1rem;
  font-size: 2rem;
 }
 
 
 li{
  font-size: 1.4rem;
 }
 
 
 .bth{
  display: inline;
  margin-left: 3em;
 }
 .bth button{
  border: none;
  padding: 0 0;
  margin: 0 0.5rem;
 }
 