:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* text-align: center; */
}



body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  /* min-width: 320px; */
  /* min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
}


.box{
  border: 2px solid black;
  margin-bottom: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputBox{
  margin: 0.5rem 0;
  padding: 0.5rem 8rem 0.5rem 1rem;
}

li{
  cursor: pointer;
}
